.booking {
  width: clamp(22.5rem, 20.111rem + 9.85vw, 27.5rem);
  height: clamp(10.625rem, 9.109rem + 6.19vw, 13.75rem);
  padding: 20px;
  border-radius: 16px;
  background: rgba(15, 15, 25, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: white;
  display: flex;
  flex-direction: column;
  gap: clamp(0.125rem, -0.233rem + 1.48vw, 0.875rem);

  .header {
    font-size: 18px;
    font-weight: 600;
    color: #f9a8d4;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //   flex-direction: column;
    gap: 8px;

    .item {
      display: flex;
      justify-content: space-between;
      gap: 5px;
      font-size: 15px;

      .label {
        color: #9ca3af;

        .value {
          font-weight: 600;
        }
      }
    }
  }

  .line {
    height: 1.4px;
    background: rgba(255, 255, 255, 0.1);
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 14px;
      color: #9ca3af;
    }

    strong {
      font-size: 20px;
      color: #facc15;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    .book_button {
      flex: 1;
      height: 40px;
      width: 100%;
      border: none;
      border-radius: 10px;
      background: #c7058a;
      color: white;
      font-weight: 600;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background: #a0046e;
      }
    }
    .loading {
      background: #adadad;
      cursor: not-allowed;
      color: #d8dfeb;
    }

    .reset_button {
      flex: 1;
      height: 40px;
      width: 100%;
      border: none;
      border-radius: 10px;
      background: #f4bde2;
      color: rgb(52, 51, 51);
      font-weight: 600;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background: #adadad;
      }
    }
  }
}
