.container {
  display: flex;
  align-items: center;
  justify-content: center;
position: relative;
.booking {
  position: absolute;
  left: -90;
  width: 240px;
  padding: 22px;
  border-radius: 16px;
  background: rgba(15, 15, 25, 0.8);
  border: 1px solid rgba(255,255,255,0.08);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 14px;

.header {
  font-size: 18px;
  font-weight: 600;
  color: #f9a8d4;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .item {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  .label {
  color: #9ca3af;
.value {
  font-weight: 600;
} } } }
.line {
  height: 1.4px;
  background: rgba(255,255,255,0.1);
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-size: 14px;
    color: #9ca3af;
  }

  strong {
    font-size: 20px;
    color: #facc15;
  }
}

.book_button {
  margin-top: 6px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #c7058a;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background: #a0046e;
  }
}
.reset_button {
  margin-top: 6px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #f4bde2;
  color: rgb(52, 51, 51);
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background: #adadad;
  }  
 }
}
  .seats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 70%;
  height: 300px;
  margin: 0 auto;
  gap: 25px;
  .front {
    display: flex;
    justify-content: center;
    gap: 10px; 
    width: 100%;
    .left, .right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap-reverse;
      width: 40%;
      gap: 25px;
      .seatLeftItem, .seatRightItem {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover {
          transform: scale(1.05);
          z-index: 10;
          .info {
            visibility: visible;
          }
        }
.info {
  position: absolute;
  top: -45px; 
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background: rgba(20, 20, 25, 0.95); 
  color: #ffffff;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  border: 1px solid rgba(255, 45, 133, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  pointer-events: none;
  z-index: 11;
span {
  color: #f069c5;
}
  &::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(20, 20, 25, 0.95);
  }
}

&:hover .info {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
      }
    }
  
  }
  .center {
    display: flex;
    justify-content: center;
    gap: 25px; 
    width: 100%;
    .seatCenterItem {
      display: flex;
      align-items: center;
      justify-content: center;
          cursor: pointer;
    transition: transform 0.2s ease;
    &:hover {
       transform: scale(1.05);
          z-index: 10;
      .info {
        visibility: visible;
      }
    }
    .info {
  position: absolute;
  top: -45px; 
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background: rgba(20, 20, 25, 0.95); 
  color: #ffffff;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  border: 1px solid rgba(255, 45, 133, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  pointer-events: none;
  z-index: 11;
span {
  color: #f069c5;
}
  &::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(20, 20, 25, 0.95);
  }
}

&:hover .info {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
    }
  }
.back {
  display: grid; 
  grid-template-columns: repeat(10, minmax(20px, 1fr)); 
  justify-content: center;
  gap: 25px; 
  margin: 0 auto;
  padding: 20px;
  .seatBackItem {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    &:hover {
       transform: scale(1.05);
          z-index: 10;
      .info {
        visibility: visible;
      }
    }
    .info {
  position: absolute;
  top: -45px; 
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background: rgba(20, 20, 25, 0.95); 
  color: #ffffff;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  border: 1px solid rgba(255, 45, 133, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  pointer-events: none;
  z-index: 11;
span {
  color: #f069c5;
}
  &::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(20, 20, 25, 0.95);
  }
}

&:hover .info {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
  }
}

}

.numbers {
  position: absolute;
  top: 5;
  right: 120px;
  display: flex;
  flex-direction: column;
  gap: 18px; 
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;

  .numberItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 8px;
    cursor: default;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #c7058a;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
span {
  position: absolute;
  left: -50%;
      display: inline-block;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease;
      transform: translateX(-5px);
      width: 12px;
      height: 12px;
      background-color: #3b82f6;
      clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    }
    &:nth-child(2n) {
      background-color: #f96fcb;
    }
    &:nth-child(4) {
      margin-top: 17px;
    }
    &.activeRow {
      background-color: #facc15 !important; // Түсүн өзгөртүп койсоңуз болот
      span {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
      }
    }

  }
}
}